.result-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .result__date{
    display: flex;
    align-items: center;
    font-size: 1rem;
    }
}
.result-header{
    text-align: center;
}